<script>
  document.title = 'Character Name Page';
</script>

<p>
  View Specific Character General Name Information
</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Job</th>
      <th scope="col">Class</th>
      <th scope="col">Category</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%=character_name.ID%></th>
      <td><%=character_name.Name%></td>
      <td><%=character_name.Level%></td>
      <td><%=character_job.Name%></td>
      <td><%=character_class.Class_Name%></td>
      <td><%=character_category.Category_Name%></td>
      <td>
        <a href="/user/character_name/<%=character_name.id%>/edit">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
