<script>
  document.title = 'Equipment Potential Edit Page';
</script>
<p>
  edit equipment potential
</p>

<div>
  <form
    action="/user/equipment/equipment_potential/<%=equipment_potential.id%>/edit?_method=put"
    method="post"
  >
    <div>
      <label for="ID">ID : </label>
      <input
        type="text"
        name="ID"
        class="form-control"
        placeholder="ID"
        value="<%=equipment_potential.ID%>"
      />
    </div>
    <div>
      <label for="Type">Type : </label>
      <input
        type="text"
        name="Type"
        class="form-control"
        placeholder="Type"
        value="<%=equipment_potential.Type%>"
      />
    </div>
    <div>
      <label for="Number_Of_Line">Number_Of_Line : </label>
      <input
        type="text"
        name="Number_Of_Line"
        class="form-control"
        placeholder="Number_Of_Line"
        value="<%=equipment_potential.Number_Of_Line%>"
      />
    </div>
    <div>
      <label for="Status">Status : </label>
      <input
        type="text"
        name="Status"
        class="form-control"
        placeholder="Status"
        value="<%=equipment_potential.Status%>"
      />
    </div>
    <div>
      <label for="Symbol">Symbol : </label>
      <input
        type="text"
        name="Symbol"
        class="form-control"
        placeholder="Symbol"
        value="<%=equipment_potential.Symbol%>"
      />
    </div>
    <a href="/user/equipment/equipment_potential/<%=equipment_potential.id%>">
      Go Back To Equipment Potential Detail</a
    ><br />
    <a href="/user/equipment/equipment_potential/">
      Go Back To Equipment Potentail List</a
    ><br />
    <button type="submit">Update Character Category</button>
  </form>
</div>
