<script>
  document.title = 'Individual Equipment Information Edit Head Page';
</script>
<p>
  edit equipment head information
</p>

<div>
  <form
    action="/user/equipment/equipment_info/<%=equipment_info.id%>/edit/head?_method=put"
    method="post"
  >
    <div class="form-group">
      <label for="Name">Name :</label>
      <select class="form-control" name="Name">
        <option value="<%=name_default._id%>"><%=name_default.Name%></option>
        <% character_names.forEach(character_name => { %>
        <option
          label="<%= character_name.ID %>.<%= character_name.Name %>"
          value="<%= character_name.id %>"
        >
          <% }) %>
        </option></select
      >
    </div>
    <div>
      <label for="Head_Name">Head Name : </label>
      <input
        type="text"
        name="Head_Name"
        class="form-control"
        placeholder="Head_Name"
        value="<%=equipment_info.Head_Name%>"
      />
    </div>
    <div class="form-group">
      <label for="Head_Status">Head Status :</label>
      <select class="form-control" name="Head_Status">
        <option value="<%=equipment_info.Head_Status%>"
          ><%=equipment_info.Head_Status%></option
        >
        <option value="SWAP">SWAP</option>
        <option value="OK">OK</option>
        <option value="DONE">DONE</option>
      </select>
    </div>
    <div>
      <label for="Head_StarEnhancement">Head Star Enhancement : </label>
      <input
        type="text"
        name="Head_StarEnhancement"
        class="form-control"
        placeholder="Head_StarEnhancement"
        value="<%=equipment_info.Head_StarEnhancement%>"
      />
    </div>
    <div>
      <label for="Head_StarEnhancement_Total"
        >Head StarEnhancement Total :
      </label>
      <input
        type="text"
        name="Head_StarEnhancement_Total"
        class="form-control"
        placeholder="Head_StarEnhancement_Total"
        value="<%=equipment_info.Head_StarEnhancement_Total%>"
      />
    </div>
    <div class="form-group">
      <label for="Head_Potential_Status">Head Potential Status : </label>
      <select class="form-control" name="Head_Potential_Status">
        <option value="<%=potential_default.id%>"
          ><%=potential_default.Symbol%></option
        >
        <% equipment_potentials.forEach(equipment_potential => { %>
        <option
          label="<%= equipment_potential.Symbol%>"
          value="<%= equipment_potential.id %>"
        >
          <% }) %>
        </option></select
      >
    </div>
    <div>
      <label for="Potential_Line_1">Potential Line 1 : </label>
      <input
        type="text"
        name="Potential_Line_1"
        class="form-control"
        placeholder="Potential_Line_1"
        value="<%=equipment_info.Head_Descriptions[0].Potential_Line_1%>"
      />
    </div>
    <div>
      <label for="Potential_Line_2">Potential Line 2 : </label>
      <input
        type="text"
        name="Potential_Line_2"
        class="form-control"
        placeholder="Potential_Line_2"
        value="<%=equipment_info.Head_Descriptions[0].Potential_Line_2%>"
      />
    </div>
    <div>
      <label for="Potential_Line_3">Potential Line 3 : </label>
      <input
        type="text"
        name="Potential_Line_3"
        class="form-control"
        placeholder="Potential_Line_3"
        value="<%=equipment_info.Head_Descriptions[0].Potential_Line_3%>"
      />
    </div>
    <div class="form-group">
      <label for="Head_BonusPotential_Status"
        >Head Bonus Potential Status :
      </label>
      <select class="form-control" name="Head_BonusPotential_Status">
        <option value="<%=bonus_potential_default.id%>"
          ><%=bonus_potential_default.Symbol%></option
        >
        <% equipment_potentials.forEach(equipment_potential => { %>
        <option
          label="<%= equipment_potential.Symbol %>"
          value="<%= equipment_potential.id %>"
        >
          <% }) %>
        </option></select
      >
    </div>
    <div>
      <label for="BonusPotential_Line_1">Bonus Potential Line 1 : </label>
      <input
        type="text"
        name="BonusPotential_Line_1"
        class="form-control"
        placeholder="BonusPotential_Line_1"
        value="<%=equipment_info.Head_Descriptions[0].BonusPotential_Line_1%>"
      />
    </div>
    <div>
      <label for="BonusPotential_Line_2">Bonus Potential Line 2 : </label>
      <input
        type="text"
        name="BonusPotential_Line_2"
        class="form-control"
        placeholder="BonusPotential_Line_2"
        value="<%=equipment_info.Head_Descriptions[0].BonusPotential_Line_2%>"
      />
    </div>
    <div>
      <label for="BonusPotential_Line_3">Bonus Potential Line 3 : </label>
      <input
        type="text"
        name="BonusPotential_Line_3"
        class="form-control"
        placeholder="BonusPotential_Line_3"
        value="<%=equipment_info.Head_Descriptions[0].BonusPotential_Line_3%>"
      />
    </div>
    <a href="/user/equipment/equipment_info/<%=equipment_info.id%>">
      Go Back To Individual Equipment Information Detail</a
    ><br />
    <a href="/user/equipment/equipment_info/">
      Go Back To Equipment Information List</a
    ><br />
    <button type="submit">Update Equipment Head Information</button>
  </form>
</div>
<br />
