<script>
  document.title = 'Equipment Info Detail Page';
</script>

<p>
  View Specific Equipment Information
</p>

<div>
  ID : <%=character_name.ID%>
</div>
<div>
  Name : <%=character_name.Name%>
</div>
<div>
  Level : <%=character_name.Level%>
</div>
<div>
  Job : <%=character_job.Name%>
</div>
<div>
  Clas : <%=character_class.Class_Name%>
</div>
<div>
  Category : <%=character_category.Category_Name%>
</div>
<div>
  Attack Range Low : <%=equipment_info.Attack_Range_Low%>
</div>
<div>
  Attack Range High : <%=equipment_info.Attack_Range_High%>
</div>
<div>
  Head Name : <%=equipment_info.Head_Name%>
</div>
<div>
  Head Star Enhancement :<%=equipment_info.Head_StarEnhancement%>
</div>
<div>
  Head Star Enhancement Total :<%=equipment_info.Head_StarEnhancement_Total%>
</div>
<div>
  Head Status : <%=equipment_info.Head_Status%>
</div>
<div>
  Head Potential Rarity & Number of Line : <%=equipment_potential.Type%> with
  <%=equipment_potential.Number_Of_Line%> lines
</div>
<div>
  Head Potential Line-1 :
  <%=equipment_info.Head_Descriptions[0].Potential_Line_1%>
</div>
<div>
  Head Potential Line-2 :
  <%=equipment_info.Head_Descriptions[0].Potential_Line_2%>
</div>
<div>
  Head Potential Line-3
  :<%=equipment_info.Head_Descriptions[0].Potential_Line_3%>
</div>
<div>
  Head Potential Rarity & Number of Line : <%=equipment_bonus_potential.Type%>
  with <%=equipment_bonus_potential.Number_Of_Line%> lines
</div>
<div>
  Head Bonus Potential Line-1 :
  <%=equipment_info.Head_Descriptions[0].BonusPotential_Line_1%>
</div>
<div>
  Head Bonus Potential Line-2
  :<%=equipment_info.Head_Descriptions[0].BonusPotential_Line_2%>
</div>
<div>
  Head Bonus Potential Line-3
  :<%=equipment_info.Head_Descriptions[0].BonusPotential_Line_3%>
</div>
<a href="/user/equipment/equipment_info/<%=equipment_info.id%>/edit/head"
  >Edit Head Information</a
>
</div>
