<script>
  document.title = 'Equipment Info List Page';
</script>

<p>Equipment Info List</p>
<a href="/user/dashboard">Go Back Dashboard</a><br />
<a href="/user/equipment/equipment_info/new">Create New Equipment Info </a><br /><br />
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Job</th>
      <th scope="col">Attack Range(low)</th>
      <th scope="col">Attack Range(high)</th>
      <th scope="col">Head</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <td>
    <% for (let i = 0; i <equipment_info.length; i++) {%>
    <tr>
      <% for (let j = 0; j <character_name.length; j++) {%>
        <%if (JSON. stringify(equipment_info[i].Name) == JSON. stringify(character_name[j].id)) {%>
        <th scope="row"><%=character_name[j].ID%></th>
        <td scope="row"><%=character_name[j].Name%></td>
        <td scope="row"><%=character_name[j].Level%></td>
          <% for (let k = 0; k <character_job.length; k++) {%>
            <%if (JSON. stringify(character_name[j].Job) == JSON. stringify(character_job[k].id)) {%>
              <td scope="row"><%=character_job[k].Name%></td>
            <% } %> 
          <% } %>
        <% } %> 
      <% } %>
      <td scope="row"><%=equipment_info[i].Attack_Range_Low%></td>
      <td scope="row"><%=equipment_info[i].Attack_Range_High%></td>
      <td scope="row">(
        <% for (let l = 0; l <equipment_potential.length; l++) {%>
          <%if (JSON. stringify(equipment_info[i].Head_Potential_Status) == JSON. stringify(equipment_potential[l].id)) {%>
          <%=equipment_potential[l].Symbol%>        
          <% } %> 
        <% } %> ,
        <% for (let m = 0; m <equipment_potential.length; m++) {%>
          <%if (JSON. stringify(equipment_info[i].Head_BonusPotential_Status) == JSON. stringify(equipment_potential[m].id)) {%>
          <%=equipment_potential[m].Symbol%>        
          <% } %> 
        <% } %> ,
        <%=equipment_info[i].Head_Status%>,
        <%=equipment_info[i].Head_StarEnhancement%>/<%=equipment_info[i].Head_StarEnhancement_Total%>)</td>
      <td scope="row">
        <a href="/user/equipment/equipment_info/<%=equipment_info[i].id%>"
            >View</a
          >
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
<br />
